


CompileAndBuildStuff
Gradle-Repository

gradlew
gradlew.bat
**.DS_Store
.gradle
.idea
.gradle/
.idea/
!.idea/dictionaries


*.iml
**/.idea/*
!**/.idea/runConfigurations/
!**/.idea/encodings.xml
!**/.idea/inspectionProfiles/
!**/.idea/dictionaries/




**/.dart_tool/
**/.gradle/
**/build/
**/gradle/
**/out/
**/CompileAndBuildStuff/



**/ShopDBtest*
**/Database
**/*pid*.log

**/.attach_pid*
**/Gradle-Repository/
**/other_ubuntu.properties
**/other_windows.properties
**/local.properties
**/temp/
**/cache

**/exc_*

**/.gradle